body{
    background-image: url(https://bpmforreal.files.wordpress.com/2013/08/new-york-city-skyline.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: auto;
}

.container {
    border-radius: 25px;
    opacity: .9;
}

.card {
    border-radius: 25px;
}

.searchBox {
    border-radius: 25px; 
    background-color: #fffffe;
}

::placeholder {
    color: black;
}

.startDate {
   text-align: center;
 }

 .endDate {
    text-align: center;
  }

.nav-wrapper {
   color: black;
   background-color: white;
}
